node_modules/
dist/
data/
.env
*.db
*.db-journal
*.db-wal
*.db-shm
client/dist/
client/node_modules/

vapid-keys.txt
src/docs/.vitepress/dist/
src/docs/.vitepress/node_modules/
src/docs/.vitepress/cache/